*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.main-container{
  position: relative;
}