.pivotbar-container{
  height: 56px;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(24px);
  position: fixed;
  border-top: solid 1px rgb(56, 56, 56);
  bottom: 0;
}
